pre {
    /*控制代码不换行*/
    white-space: pre;
    word-wrap: normal;
  }
  
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 2px 3px !important;
    line-height: 1.1;
    font-size: 16px !important;
    background: #f3f4f5;
    color: #5e6687;
  }
  
  .hljs-tag,
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-strong,
  .hljs-name {
    color: #f92672;
  }
  
  .hljs-code {
    color: #66d9ef;
  }
  
  .hljs-class .hljs-title {
    color: #df5000;
  }
  
  .hljs-attribute,
  .hljs-symbol,
  .hljs-regexp,
  .hljs-link {
    color: #bf79db;
  }
  
  .hljs-string,
  .hljs-bullet,
  .hljs-subst,
  .hljs-title,
  .hljs-section,
  .hljs-emphasis,
  .hljs-type,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-tag,
  .hljs-template-variable {
    color: #5893c2;
  }
  
  .hljs-comment,
  .hljs-quote,
  .hljs-deletion,
  .hljs-meta {
    color: #969896;
    margin-top: 5px;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-doctag,
  .hljs-title,
  .hljs-section,
  .hljs-type,
  .hljs-selector-id {
    font-weight: bold;
  }
  